{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bower_components/codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/highlightjs/styles/github.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/tui-editor/dist/tui-editor.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/tui-editor/dist/tui-editor-contents.css') }}">
{% endblock %}

{% block body %}
    <section class="header-full-screen background-1" id="home" style="height: 85px;"></section>
                
    <!-- blog content-->
    <section id="blog" class="blog-section" >
        <div class="container">
            <div class="row">
                <h1 class="mt-4">Add Article</h1>

                <form id="article-submit" method="post" action="{{ path('blog_article_update') }}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="form-group">
                        <label for="seo-title">SEO Title</label>
                        <input type="text" class="form-control" id="seo-title" name="seo-title">
                    </div>

                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" name="author" value="Jon Simon">
                    </div>

                    <div id="tuiEditor"></div>
                    <textarea id="body" name="body" style="display:none;"></textarea>

                    <br />
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src='{{ asset('bower_components/markdown-it/dist/markdown-it.js') }}'></script>
    <script src="{{ asset('bower_components/to-mark/dist/to-mark.js') }}"></script>
    <script src="{{ asset('bower_components/tui-code-snippet/dist/tui-code-snippet.js') }}"></script>
    <script src="{{ asset('bower_components/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('bower_components/highlightjs/highlight.pack.js') }}"></script>
    <script src="{{ asset('bower_components/squire-rte/build/squire-raw.js') }}"></script>
    <script src="{{ asset('bower_components/tui-editor/dist/tui-editor-Editor.js') }}"></script>

    <script type="text/javascript">
        var editor = new tui.Editor({
            el: document.querySelector('#tuiEditor'),
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            height: '300px'
        });

        $("#article-submit").submit(function(){
            $("#body").val(editor.getValue());
        });
        
    </script>
{% endblock %}