{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bower_components/codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/highlightjs/styles/github.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/tui-editor/dist/tui-editor.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/tui-editor/dist/tui-editor-contents.css') }}">
{% endblock %}

{% block body %}
    <section class="header-full-screen background-1" id="home" style="height: 85px;"></section>
                
    <!-- blog content-->
    <section id="blog" class="blog-section" >
        <div class="container">

            <div class="row">

              <!-- Post Content Column -->
              <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ article.getTitle() }}</h1>

                <!-- Author -->
                <p class="lead">
                  by
                  <a href="#">{{ article.getAuthor() }}</a>
                </p>

                <hr />

                <!-- Date/Time -->
                <p>Posted on {{ article.getDateCreated()|date('F j, Y \\a\\t g:i A') }}</p>

                <hr />

                <!-- Preview Image -->
                <!--<img class="img-fluid rounded" src="http://placehold.it/700x300" alt="" />

                <hr />-->

                <!-- Post Content -->
                <div id="initialValue" style="display: none;">{{ article.getBody() }}</div>
                <div id="viewerSection"></div>

                <hr />

                <!-- Comments Form -->
                <!--<div class="card my-4">
                  <h5 class="card-header">Leave a Comment:</h5>
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>-->

                <!-- Single Comment -->
                <!--<div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="" />
                  <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </div>-->

                <!-- Comment with nested comments -->
                <!--<div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="" />
                  <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="" />
                      <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>

                    <div class="media mt-4">
                      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="" />
                      <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>

                  </div>
                </div>-->

              </div>

              <!-- Sidebar Widgets Column -->
              <div class="col-md-4">
                  {{ render(controller(
                      'App\\Controller\\BlogController::rightPanel'
                  )) }}
              </div>

            </div>
            <!-- /.row -->

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src='{{ asset('bower_components/markdown-it/dist/markdown-it.js') }}'></script>
    <script src="{{ asset('bower_components/to-mark/dist/to-mark.js') }}"></script>
    <script src="{{ asset('bower_components/tui-code-snippet/dist/tui-code-snippet.js') }}"></script>
    <script src="{{ asset('bower_components/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('bower_components/highlightjs/highlight.pack.js') }}"></script>
    <script src="{{ asset('bower_components/squire-rte/build/squire-raw.js') }}"></script>
    <script src="{{ asset('bower_components/tui-editor/dist/tui-editor-Editor.js') }}"></script>

    <script type="text/javascript">
        var editor = tui.Editor.factory({
            el: document.querySelector('#viewerSection'),
            viewer: true,
            height: '500px',
            initialValue: $("#initialValue").text()
        });
    </script>
{% endblock %}