<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>{% block title %}Software Development - Technical Startup and Cloud Consulting - Solution Architecture - Xil3 Media!{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('ionicons/css/ionicons.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bower_components/flexslider/flexslider.css') }}" rel="stylesheet" />
        <!--main css file-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ asset('images/fev.png') }}" /> 

        {% block stylesheets %}{% endblock %}
    </head>
    <body data-spy="scroll">
        <!--pre-loader-->
        <div id="preloader"></div>
        <!--pre-loader-->
        <!--main menu-->
        <!-- Static navbar --> 
        <header class="navbar navbar-inverse navbar-default navbar-fixed-top navbar-transparent">
            <div class="container">
                <div class="pull-right hidden-xs hidden-sm hidden-md">
                    <a href="#contact" class="btn btn-primary btn-navigation scroll-to top-btn">Contact</a> 
                </div> 
        
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--  <a class="navbar-brand" href="index.html">Mentos</a>  -->
                    <div class="header-logo pull-left"> 
                        <a class="navbar-brand" href="#"><img src="{{ asset('images/logo.jpg') }}" /></a>
                    </div> 
                    <div class="pull-left header-con hidden-xs hidden-sm hidden-md">
                        <i class="fa fa-phone fa-1x fa-green"></i> <span class="phone-no" >  1-844-257-6187   </span>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right scroll-to">
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="{{ path('blog') }}">Blog</a></li>
                        <li class="hidden-lg"><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </header>
       
        <!--end main menu-->

        {% block body %}{% endblock %}

        <footer>
            <div class="space-30"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div>
                                <p>© 2017 Xil3 Media Ltd. All Rights Reserved </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer1">
                                <ul>
                                    <li>
                                        <a href="#home">Home</a> 
                                    </li>
                                    <li>
                                        <a href="#about">About</a> 
                                    </li>
                                    <li>
                                        <a href="#services">Services</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog') }}">Blog</a>
                                    </li>
                                    <li> 
                                        <a href="#contact">Contact</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
        </footer>
        <a href="#" class="scrollToTop"><i><img src="{{ asset('images/arrow.jpg') }}"/></i></a>
        <!--end of Services-->
        <!--end the modal of video-->

        <!-- jQuery plugins-->
        <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ asset('js/jquery-migrate.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bower_components/flexslider/jquery.flexslider-min.js') }}"></script>
        <script src="{{ asset('js/modernizr.custom.97074.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.sticky.js') }}"></script> 
        <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
        <script src="{{ asset('js/waypoints.min.js') }}"></script>
        <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('js/template-custom.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/newsletter-custom.js') }}" type="text/javascript"></script> 
        <script src="{{ asset('js/froogaloop2.min.js') }}"></script>
        <script src="{{ asset('js/vimeo.js') }}" type="text/javascript"></script> 

        {% block javascripts %}{% endblock %}
    </body>
</html>
